
/node_modules


# Remove database credentials from the codebase.
# To config database credentials, copy the /server/src/config/example-config.json file to /server/src/config.json and update the password.
# Make sure exclude the /server/src/config/config.json file from the git repository.


/server/package-lock.json
/src/config/configVnpay.js
/build
/.env