

/node_modules

# Remove database credentials from the codebase.
# To config database credentials, copy the /server/src/config/example-config.json file to /server/src/config.json.example and update the p-assword.
# Make sure exclude the /server/src/config/config.json file from the git repository.
/src/config/config.json

